.projects-container-component {
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.card-list {
    background-color: #354f52;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-content: space-evenly;
    color: white;
    padding-top: 1rem;

    gap: 1rem;
    width: 80%;
}

.projects-title {
    color: #84a98c;
    display: flex;
    justify-content: start;
    align-items: center;
    letter-spacing: .1em;
    cursor: default;
}



.card {
    display: flex;
    position: relative;
    flex-direction: column;
    min-width: 350px;
    min-height: 250px;
    padding: 1.3rem;
    place-content: center;
    /* align-content: space-between; */
    border-radius: 45px;
    background: #2f3e46;
}

.card:nth-child(3n) {
    line-break: auto;
}

.card:hover {}

.card:hover~.card {}


.card-header>p {
    cursor: default;
}

.card-header>h1 {
    cursor: default;
    width: 50%;
}

.card h1 {
    color: #84a98c;
    cursor: default;
}

.message h1:hover {
    color: #84a98c;
    background: linear-gradient(90deg, #ff8a00, #e52e71);
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.card-header h1:hover {
    background: white;
    cursor: default;
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.projects h1:hover {
    background: white;
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}




.card:active {
    color: rgb(255, 255, 255)
}

.card:hover:before {
    opacity: 1;
}

.card:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #2f3e46;
    left: 0;
    top: 0;
    border-radius: 28px;
}

span {
    background-color: #FFFF00;
    color: black;
}

#crypto-gif {
    height: 100px;
}

@media (max-width: 1200px) {

    .card-list {
        grid-template-columns: 150px 150px 150px;
    }
}

@media (max-width: 415px) {
    .projects-container-component {
        width: 99vw;

        margin-bottom: 8rem;
    }

    .card-list {
        display: flex;
        flex-direction: column;
    }

    .card {
        font-size: .9rem;
        min-width: 1rem;
    }

}