@use '../../utils';

@mixin flex-layout() {
    display: flex;
    align-items: center;
    place-content: center;
    position: relative;
}

.projects-container-component {
    @include flex-layout();
    flex-direction: column;
    min-height: 95vh;
}

.projects-title {
    color: utils.$primary-color;
    letter-spacing: .1em;
    cursor: default;
}

.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-content: space-evenly;
    width: 75%;
    padding-top: 1rem;
    gap: 1rem;
    background-color: utils.$secondary-color;
    color: white;
    
}

.card {
    @include flex-layout();
    flex-direction: column;
    min-width: 350px;
    min-height: 250px;
    padding: 1.3rem;
    border-radius: 45px;
    background: utils.$dark-grey;
    box-shadow: 10px 10px 15px rgb(9, 10, 17);
    border: 1px solid black;
}

.card:nth-child(3n) {
    line-break: auto;
}

.card:hover {
    outline: utils.$primary-color;
}

.card:hover~.card {}

.projects-body-text {
    margin-top: 1rem;
}
.github-repo-links {
    display: flex;
    align-self: flex-start;
    margin-top: 1rem;
}
.card a:hover {
    color: utils.$links-hover;
}

.card-header>p {
    cursor: default;
}

.card-header>h1 {
    cursor: default;
    width: 50%;
}

.card h1 {
    color: utils.$primary-color;
    cursor: default;
}

.message h1:hover {
    color: utils.$primary-color;
    background: linear-gradient(90deg, #ff8a00, #e52e71);
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-header h1:hover {
    background: white;
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: default;
}

.projects h1:hover {
    background: white;
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card:active {
    color: rgb(255, 255, 255)
}

.card:hover:before {
    opacity: 1;
}

.card:after {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    border-radius: 28px;
    background-color: utils.$dark-grey;
    content: '';
}

span {
    background-color: #FFFF00;
    color: black;
}

#crypto-gif {
    height: 100px;
}

// ----------------------------------------------------------------
// Media queries for mobile devices
// ----------------------------------------------------------------

@media (min-width: 1201px) {
    .projects-container-component {
        margin-bottom: 8rem;
    }
}
@media (max-width: 1200px) {
    .card-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        justify-content: space-evenly;
        width: 90%;
        margin-bottom: 8rem;
    }
}

@media (max-width: 415px) {
    .projects-container-component {
        width: 95vw;
        margin-bottom: 8rem;
    }

    .card-list {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .card {
        font-size: 1rem;
        min-width: 1rem;
    }
}