
# dependencies
/node_modules
/.pnp
.pnp.js
jspm_packages/

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*



# Logs
logs
*.log
npm-debug.log*

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json


# Optional npm cache directory
.npm

# Stores VSCode versions used for testing VSCode extensions
.vscode-test