

.about-container-component {
    display: flex;
    justify-content: center;
    place-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 3rem; */
    position: relative;
    min-height: 60vh;
    cursor: default;
}

.about-me {
    display: flex;
    justify-content: start;
    align-items: center;
    color: #84a98c;
    letter-spacing: .1em;
    margin-bottom: 2rem;
}

.about-me-message {
    width: 63vw;
    color: #ffffff;
    font-size: 1.1rem;
    word-spacing: 0.25rem;
    letter-spacing: 1px;
}

@media (max-width: 428px) {
    .about-me {
        margin-bottom: 1rem;
    }
    .about-me-message {
        width: 100%;
        font-size: .9rem;
    }
}
@media (max-width: 415px) {
    .about-container-component {
        padding: 1rem;
        margin-bottom: 8rem;
    }

    .about-me-message {
        width: 100%;
        font-size: .8rem;
    }
}

@media (min-width: 416px) {
    .about-container-component {
        width: 100%;
        padding: 3rem;
        margin-bottom: 8rem;
        /* min-height: 50vh; */
    }
}