.about-container-component {
    display: flex;
    justify-content: center;
    place-content: center;
    flex-direction: column;
    /* padding: 3rem; */
    position: relative;
    left: 0;
    min-height: 95vh;
}

.about-me {
    display: flex;
    justify-content: start;
    align-items: center;
    color: #84a98c;
    letter-spacing: .1em;
    cursor: text;
}

.about-me-message {
    width: 63vw;
    color: #ffffff;
    font-size: 1.1rem;
    word-spacing: 0.25rem;
    letter-spacing: 1px;
    cursor: text;
}

@media (max-width: 415px) {
    .about-container-component {
        padding: 1rem;
        height: 10vh;
    }

    .about-me-message {
        width: 100%;
        font-size: .8rem;
    }
}

@media (min-width: 416px) {
    .about-container-component {
        width: 100%;
        padding: 3rem;
        /* min-height: 50vh; */
    }
}