.about-container-component {
    height: 100%;
    width: 80vw;
    margin: 0 30rem 0 0;
    padding: 0;
    position: relative;
    left: 0;
    right: 0;
}

.about-me {
    
padding: 0 0 0 15rem; 
color: #84a98c;
letter-spacing: .1em;
cursor: text;
}

.about-me-message {
    width: 63vw;
    color: #ffffff ;
    padding: 4rem 0 0 15rem;
    font-size: 1.1rem;
    word-spacing: 0.25rem;
    letter-spacing: 1px;
    cursor: text;
}