@use "../../utils";
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

@mixin flex-layout() {
    display: flex;
    align-items: center;
    place-content: center;
}

.header-container {
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    margin: 0;
    padding: 0;
    height: 100px;
    width: 100%;
    z-index: 100;
    background-color: utils.$dark-grey;
}

.nav-home-icons-container {
    display: flex;
    align-items: center;
}
.nav-home-list {
    @include flex-layout();
    // place-content: end;
    height: 100%;
    margin-left: 2rem;
    padding: 0.5rem;
    gap: 1rem;
}
.nav-list {
    @include flex-layout();
    place-content: end;
    height: 100%;
    margin-right: 2rem;
    padding: 0.5rem;
    gap: 1rem;
    list-style-type: none;
}

li {
    display: inline;
    font-family: utils.$font-family;
    font-size: 1.1rem;
    color: white;
    cursor: pointer;
}

li:hover {
    transform: scale(0.98);
    color: utils.$primary-color;
}

.nav-darius-h1 {
}
.home-icon {
    display: flex;
    align-self: inline;
    margin-bottom: 3px;
    cursor: pointer;
}

.home-icon:hover {
    transform: scale(0.95, 0.95);
}

.resume a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: utils.$primary-color;
}

// ----------------------------------------------------------------
// Media queries for mobile devices
// ----------------------------------------------------------------

@media (max-width: 600px) {
    .header-container {
        @include flex-layout();
        height: 85px;
        justify-content: space-evenly;
    }
    .nav-list {
        @include flex-layout();
        margin-right: 0;
    }

    li {
        font-size: 0.95rem;
    }

    .nav-darius-h1 {
        visibility: hidden;
    }
}
