.form-bg-shadow {
  display: flex;
  place-content: center;
  justify-content: center;
  align-items: center;
}

.add {
  /* aspect-ratio: 1/1; */
  width: 90%;
  height: 75vh;
  display: flex;
  place-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 45px;
  background-color: #2f3e46;


}

.add>h1 {
  margin-bottom: 30px;
}

.add>input,
textarea {
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 20px;
  border: 1px solid lightgray;
  background: #fff;
  font-size: 16px;
  color: rgb(0, 0, 32);
  outline: none;
}

.add>input:focus,
textarea:focus {
  border: 1px solid rgb(0, 0, 196);
}

.add>textarea {
  height: 150px;
  max-width: 400px;
  min-height: 100px;
}

.add>label {
  padding-bottom: 10px;
  color: rgb(0, 0, 32);
  font-weight: bold;
}

.add>button {
  padding: 20px;
  border: none;
  /* background-color: #41B6E6; */
  background-color: #1597DD;
  font-weight: 500;
  font-size: 20px;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin-top: 10px;
  border-radius: 15px;
}

.add>button:hover {
  background-color: #41B6E6;
}

.contact-form-h1 {
  /* padding: 0 0 0 15rem;    */
  color: #84a98c;
  letter-spacing: .1em;
  cursor: text;

}

.form-headings {
  color: #84a98c !important;
}

.replying-shortly {
  padding: 0 0 15px 0;
  color: white;
}


@media (max-width: 415px) {
  .form-bg-shadow {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .add {

    align-items: center;
    place-content: center;
    justify-content: center;
    width: 90%;
    padding: 1rem;
  }
}

@media (min-width:415px) and (max-width: 1025px) {
  .add {
    display: flex;
    justify-content: center;
    align-items: center;
    place-content: center;
    width: 90%;
    margin: 2px;
    padding: 1rem;
  }
}