@use '../../utils';

@mixin flex-layout() {
  display: flex;
  align-items: center;
  place-content: center;
  position: relative;
}

.form-container {
  @include flex-layout();
  margin-bottom: 5rem;
}

.add {
  @include flex-layout();
  flex-direction: column;
  width: 50%;
  height: 75vh;
  border-radius: 45px;
  background-color: utils.$dark-grey;
}

.add>h1 {
  margin-bottom: 30px;
}

.add>input,
textarea {
  outline: none;
  border: 1px solid lightgray;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 3px;
  background: #fff;
  font-size: 16px;
  color: rgb(0, 0, 32);
  cursor: text;
}

.add>input:focus,
textarea:focus {
  border: 1px solid rgb(0, 0, 196);
}

.add>textarea {
  height: 150px;
  max-width: 400px;
  min-height: 100px;
}

.add>label {
  padding-bottom: 10px;
  color: rgb(0, 0, 32);
  font-weight: bold;
}

.add>button {
  border: none;
  padding: 20px;
  margin-top: 10px;
  border-radius: 15px;
  background-color: rgb(161, 161, 161);;
  transition: 0.2s ease-in-out;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

.add>button:hover {
  background-color: #306ab4;
}

.contact-form-h1 {
  color: utils.$primary-color;
  letter-spacing: .1em;
}

.form-headings {
  color: white !important;
}

.replying-shortly {
  padding: 0 0 15px 0;
  color: white;
}

// ----------------------------------------------------------------
// media queries for mobile devices
//-----------------------------------------------------------------

@media (max-width: 415px) {
  .form-container {
    @include flex-layout();
  }

  .add {
    @include flex-layout();
    padding: 1rem; 
    width: 90%;
    height: 100%;

    button {
      margin-bottom: 1rem;
    }
  }
}

@media (min-width:415px) and (max-width: 1025px) {
  .add {
    @include flex-layout();
    width: 90%;
    margin: 2px;
    padding: 1rem;
  }
}