@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.header-container {
    position: fixed;
    justify-content: center;
    place-content: center;
    height: 100px;
    width: 99vw;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 100;
    background-color: #2f3e46;

}

.nav-list {

    list-style-type: none;
    margin: 0;
    padding: .5rem;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    place-content: end;
    gap: 1rem;
}

li {
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    display: inline;

    font-size: 1.1rem;
    cursor: pointer;

}