@use '../../utils';
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

// Resuable mixin for flex-layout (centered)
@mixin flex-layout() {
    display: flex;
    align-items: center;
    place-content: center;
    position: relative;
}

.intro-container {
    @include flex-layout();
    flex-direction: column;
    min-height: 95vh;
    width: 100%;
    cursor: default;
}

.intro-header {
@include flex-layout();
flex-direction: column;
    place-items: center;
    // align-items: flex-start;
    // justify-content: flex-start;
}

#hey {
    color: white;
    letter-spacing: .1em;
    margin-left: 4px;
    margin-top: 12rem;
    display: flex;
    align-self: flex-start;
}


#name {
    width: auto;
    padding: 0;
    left: 0;
    margin: 0;
    font-size: 3.7rem;
    letter-spacing: .06em;
    color: utils.$primary-color;
    font-family: utils.$font-family;
}

#name:hover {
    color: white;
}

.intro-message {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin-left: 4px;
    min-height: 50vh !important;
    font-size: 1.2rem;
    word-spacing: 1px;
    letter-spacing: 1px;
    color: rgb(161, 161, 161);
}



a {
    text-decoration: none;
    color: utils.$links;
}

// ----------------------------------------------------------------
// Media queries for mobile devices
// ----------------------------------------------------------------

@media (min-width: 1024px) {
    .intro-header {
        width: 100%;
    }
    .intro-message {
        width: 44%;
    }
}


@media (min-width: 500px) and (max-width: 999px) {
    .intro-header {
        width: 70%;
    }
    .intro-message {
        width: 100%;
    }
}
@media (min-width: 1000px) {
    .intro-header {
        width: 70%;
    }
}

@media (max-width: 663px) {
    .intro-header {
        @include flex-layout();
        align-self: center !important;
        margin-left: 1rem;
    }
    #hey {
        margin-left: 4px;
    }
    
    #name {
        font-size: 3rem;
        color: utils.$primary-color;
        ;
    }
    .intro-message {
        width: 90%;
        margin-left: 4px;
    }
}

@media (max-width: 428px) {
    .intro-container {
        margin-top: 5rem;
    }
 
}

@media (max-width: 415px) {
    .intro-container {
        position: relative;
        height: 10vh;
    }
    .intro {
        // margin-top: 12rem;
    }
    #hey {
        display: flex ;
        justify-items: flex-start;
        align-self: flex-start ;
        margin-left: 1.1rem;
}
    #name {
        font-size: 3rem;
        display: flex;
        align-self: flex-start;
        margin-left: 1rem;
    }

    .intro-message {
        width: 90%;
        font-size: 1rem;
        margin-left: 1.1rem;
    }
}

