@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.intro-container {
    display: flex;
    // align-items: center;
    place-items: center;
    position: relative;
    flex-direction: column;
    min-height: 60vh;
    cursor: default;

    
}

.intro {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

}

#hey {
    display: flex;
    justify-content: flex-start;
    place-items: flex-start;
    align-items: center;
    color: #84a98c;
    letter-spacing: .1em;
    margin-top: 12rem;
}


#name {
    width: auto;
    font-family: 'Nunito', sans-serif;
    color: #cad2c5;
    padding: 0;
    margin: 0;
    font-size: 4.5rem;
    letter-spacing: .06em;

}

#name:hover {
    color: white;
}


.intro-message {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    color: #84a98c;
    font-size: 1.2rem;
    word-spacing: 0.25rem;
    letter-spacing: 1px;
    min-height: 50vh !important;
    position: relative;
}

a {
    text-decoration: none;
    color: #00d9e9;
}


@media (max-width: 428px) {
    
    #name {
        font-size: 4rem;
    }
    .intro-message {
        width: 40vw;
    }
}

@media (max-width: 585px) {
    #name {
        font-size: 4rem;
        color: white;
    }
    .intro-message {
        width: 40vw;
        
    }
}

@media (max-width: 428px) {
    .intro-container {
        position: relative;
        height: 10vh;
        align-items: center;
        place-items: center;
    }

    #name {
        font-size: 2.5rem;
    }

    .intro-message {
        width: 90%;
    }
}

@media (max-width: 415px) {
    .intro-container {
        position: relative;
        height: 10vh;
        align-items: center;
        place-items: center;
    }

    #name {
        font-size: 2.5rem;
    }

    .intro-message {
        width: 90%;
        font-size: .9rem;
       
    }
}

@media (min-width: 416px) {
    .intro-container {
        width: 100%;
        /* padding: 2rem; */
    }
}