
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.intro-container {
    width: 63vw;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

#hey {
    padding: 15rem 0 0 15rem;
    margin-bottom: 2rem;   
    color: #84a98c;
    letter-spacing: .1em;
    cursor: text;
}


#name {
    cursor: text;
    padding: 0 0 0 14.6rem;
    width: auto;
    font-family: 'Nunito', sans-serif;
    color: #cad2c5;
    font-size: 5rem;
    letter-spacing: .1em; 
    
}

#name:hover {
    color: white;
}

.message {
    color: #84a98c ;
    padding: 3rem 0 0 15rem;
    font-size: 1.2rem;
    word-spacing: 0.25rem;
    letter-spacing: 1px;
    cursor: text;
}