@use '../../utils';
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

// Resuable mixin for flex-layout (centered)
@mixin flex-layout() {
    display: flex;
    align-items: center;
    place-content: center;
    position: relative;
}

.intro-container {
    display: flex;
    position: relative;
    justify-content: flex-start;
    min-height: 100vh;
    width: 100%;
    cursor: default;
}

.spline-person {
    position: absolute;
    cursor: grab;
    @media (max-width: 1024px) {
        transform: scale(.8), translateX(200px);
    }
    @media (max-width: 416px) {
        transform: scale(.9px), translateX(400px);
        height: 0;
    }
}
.intro-header {
@include flex-layout();
flex-direction: column;
    place-items: center;
    width: 30vw;
    // margin-top: 10rem;
    margin-left: 2rem;
    height: 100%;

    
    // align-items: flex-start;
    // justify-content: flex-start;
}

.intro-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    place-content: flex-start !important;
    width: 100%;
    height: 10vh !important;
}

#hey {
    color: white;
    letter-spacing: .1em;
    margin-left: 4px;
    margin-top: 12rem;
    display: flex;
    align-self: flex-start;
}


#name {
    width: 100%;
    padding: 0;

    left: 0;
    margin: 0;
    font-size: 3.3rem;
    letter-spacing: .06em;
    color: utils.$primary-color;
    font-family: utils.$font-family;
    @media (max-width: 1024px) {
        font-size: 2rem;
    }
}

#name:hover {
    color: white;
}

.intro-message {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    // width: 100% !important;
    margin-left: 4px;
    // min-height: 50vh !important;
    font-size: 1.2rem;
    word-spacing: 1px;
    letter-spacing: 1px;
    color: rgb(161, 161, 161);
    @media (max-width: 1024px) {
        font-size: 1rem;
    }
}



a {
    text-decoration: none;
    color: utils.$links;
}

// ----------------------------------------------------------------
// Media queries for mobile devices
// ----------------------------------------------------------------

@media (min-width: 1024px) {
}

@media  (max-width: 999px) {
    .intro-header {
        width: 70%;
    }
   
}
@media (max-width: 1000px) {
    .spline-person {
        margin-top: 8rem;
    }
    .intro-message {
        width: 40%;
    }
}

@media (max-width: 663px) {
    .intro-container {
        margin-bottom: 18rem !important;
        overflow: hidden;
        overflow-x: hidden;
    }

    .spline-person {
        transform: scale(.4) translateX(-1650px);
        height: 100%;
        overflow-x: hidden;
    }
    .intro-header {
        // @include flex-layout();
        margin-left: 1rem;
    }
    #hey {
        margin-left: 4px;
    }
    
    #name {
        font-size: 2rem;
        color: utils.$primary-color;
        ;
    }
    .intro-message {
        width: 90%;
        margin-left: 4px;
    }
}

@media (max-width: 428px) {
    .spline-person {
        margin-top: 22rem;
    }
}

@media (max-width: 415px) {
    .intro-header {
        width: 80%;
    }
    #hey {
        display: flex ;
        justify-items: flex-start;
        align-self: flex-start ;
        // margin-left: 1.1rem;
}
    #name {
        font-size: 2.5rem;
        display: flex;
        align-items: flex-start;
        // margin-left: 1rem;
    }

    .intro-message {
        width: 90%;
        font-size: 1rem;
        // margin-left: 1.1rem;
    }
}

