@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.intro-container {
    display: flex;
    justify-content: center;
    align-items: start;
    place-content: start;
    flex-direction: column;
    /* width: 90vw; */
    /* height: 100%; */
    margin: 0;
    margin-bottom: 10px;
    position: relative;
    margin-left: 2rem;
    margin-right: 2rem;
}

#hey {
    padding-top: 12rem;
    color: #84a98c;
    letter-spacing: .1em;
    cursor: text;
}


#name {
    cursor: text;
    width: auto;
    font-family: 'Nunito', sans-serif;
    color: #cad2c5;
    padding: 0;
    margin: 0;
    font-size: 5rem;
    letter-spacing: .06em;

}

#name:hover {
    color: white;
}

.intro-message {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    color: #84a98c;
    /* padding: 3rem 0 0 15rem; */
    font-size: 1.2rem;
    word-spacing: 0.25rem;
    letter-spacing: 1px;
    min-height: 50vh !important;
    cursor: text;
    position: relative;
}

a {
    text-decoration: none;
    color: #00d9e9;
}


@media (max-width: 415px) {
    .intro-message {
        width: 100%;
    }
}