
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

$primary-color: #ff7900;
$secondary-color: #1b2c3a;
$dark-grey: #172531;
$name: #cad2c5;
$font-family: 'Nunito', sans-serif;
$links: #9bb7d0;
$links-hover: #cddbe7


// $primary-color: #84a98c;
// $secondary-color: #354f52;
// $dark-grey: #2f3e46;
// $name: #cad2c5;
// $links: #00d9e9;
