
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

$primary-color: #84a98c;
$secondary-color: #354f52;
$dark-grey: #2f3e46;
$name: #cad2c5;
$font-family: 'Nunito', sans-serif;
$links: #00d9e9;
